fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
alembic
python-multipart
apscheduler

pandas
numpy
pyarrow
huggingface-hub

prophet
scikit-learn

tensorflow
joblib
bcrypt
datasets>=3.0
